*
!.gitignore
!.config/

# tmux
!.tmux
!.tmux.conf

# zsh
!.zshrc
!.zshenv

# nvim
!.config/nvim/
!.config/nvim/**/*

# ghostty
!.config/ghostty/
!.config/ghostty/**/*

# zellij
!.config/zellij/
!.config/zellij/**/*

# git
!.gitconfig
!.config/git/
!.config/git/**/*

# jj
!.jjconfig.toml
!.config/jj/
!.config/jj/PR_DESCRIBE_PROMPT.md
!.config/jj/config.toml

# starship
!.config/starship.toml

# kaisen
!.config/kaisen/
!.config/kaisen/**/*

# claude
!.claude/
!.claude/rules/
!.claude/rules/personal/
!.claude/rules/personal/**/*

# scripts
!.local/
!.local/bin/
!.local/bin/work
!.local/bin/work-switch
!.local/bin/work-jira
