*
!.gitignore
!.config/

# tmux
!.tmux
!.tmux.conf

# zsh
!.zshrc
!.zshenv

# nvim
!.config/nvim/
!.config/nvim/**/*

# ghostty
!.config/ghostty/
!.config/ghostty/**/*

# zellij
!.config/zellij/
!.config/zellij/**/*

